{% extends 'base.html.twig' %}

{% block title %}Tournage index{% endblock %}

{% block body %}
<div style="margin-left:10%">
    <h1>Tournage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournage in tournages %}
            <tr>
                <td>{{ tournage.id }}</td>
                <td>{{ tournage.dateDebut }}</td>
                <td>{{ tournage.dateFin }}</td>
                <td>
                    <a href="{{ path('app_tournage_show', {'id': tournage.id}) }}">show</a>
                    <a href="{{ path('app_tournage_edit', {'id': tournage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tournage_new') }}">Create new</a>
</div>
{% endblock %}
